<div style="margin-top:10px;">
  <mat-card class="containerX" style="height:900px;">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div class="container" fxLayout="row" fxLayoutAlign="space-around center">
        <div id="circle" *ngFor="let color of colors " [ngStyle]="{'background-color':color}" (click)="packColor(color)"></div>
        <mat-slider [min]="1" [max]="5" [step]="0.5" [value]="lineWidth" (input)="onInputChange($event)" thumbLabel></mat-slider>
      </div>
      <div style="margin:5px;">
        <canvas #myCanvas class="container"></canvas>
        <!--<canvas #yourCanvas class="container"></canvas>-->
      </div>
    </div>
  </mat-card>
  <div>
    <div style="position:absolute; right:5px;bottom: 5px">
      <app-chat-modal #chatModal>
        <app-chat></app-chat>
      </app-chat-modal>
    </div>
  </div>
  <div style="position:absolute; right:5px;bottom: 5px">
    <button mat-fab class="color-gradient" (click)="chatModal.toggle()">
      <img src="assets/icons/outline-chat-24px.svg">
    </button>
  </div>
</div>

<!--
  <mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>
-->
