<div class="content">
  <mat-toolbar class="mat-toolbar-style">
    <span>
      <h2><a routerLink="/home" style="color: white;text-decoration: none;">Drawing.io</a></h2>
    </span>
      <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>
    <span *ngIf="isloggedIn; else logOutBlock">
        <button mat-button color="white"  routerLink="/draw" routerLinkActive="active">Draw</button>
        <button mat-button color="white"  (click)="logOut()">Log Out</button>
    </span>
    <ng-template #logOutBlock>
      <span>
        <button mat-button color="white"  routerLink="/log-in" routerLinkActive="active">Log In</button>
        <button mat-button color="white"  routerLink="/sign-up" routerLinkActive="active">Sign Up</button>
    </span>
    </ng-template>
  </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
 <!--  <div fxFlex="90" fxLayoutAlign="center center">
    <app-draw-it></app-draw-it>
  </div>

 <div fxLayout="row" fxLayoutAlign="center center" style="width:600px;">
      <div [@enterTransition]="joinForm" style="width:100%" fxflex>
        <app-join-chat (userName)="addUser($event)"></app-join-chat>
      </div>
      <div [@enterTransition]="chatRoom" fxflex>
        <app-chat [userName]="userName"></app-chat>
      </div>
  </div>
-->



