<div class="content">
  <mat-toolbar class="mat-primary">
    <div class="mat-toolbar-tools">
      <h2 class="mat-flex">Drawing.io</h2>
    </div>
  </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
 <!--  <div fxFlex="90" fxLayoutAlign="center center">
    <app-draw-it></app-draw-it>
  </div>

 <div fxLayout="row" fxLayoutAlign="center center" style="width:600px;">
      <div [@enterTransition]="joinForm" style="width:100%" fxflex>
        <app-join-chat (userName)="addUser($event)"></app-join-chat>
      </div>
      <div [@enterTransition]="chatRoom" fxflex>
        <app-chat [userName]="userName"></app-chat>
      </div>
  </div>
-->
</div>


