/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html{
    height: 100%;
  }
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .content {
    flex: 1 0 auto;
    position: relative;
  }
  .footer {
    flex-shrink: 0;
    background: #283593;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
.containerX {
    box-sizing: content-box !important;
}

.mat-toolbar h2 {
    color: #fff;
}

.mat-toolbar-tools {
    color: #fff;
}

/*footer {
    background: #283593;
    color: white;
    height: 60px;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
}*/

footer P {
    text-align: center;
}

img.heart {
    vertical-align: middle;
}

.messages-area {
    height: 300px;
    background: #fff;
    width: 100%;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.full-width {
    width: 100%;
}

.z-3 {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.joint-room {
    height: 250px;
    margin:auto auto;
}

.person-tag {
    color: #fff;
    padding: 5px;
    width: 25px;
    border-radius: 50%;
}

.tag-odd {
    background: #303f9f;
}

.tag-even {
    right: 5px;
    position: absolute;
    background: #e91e63;
}

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.even-div {
    align-items: flex-end;
}

.odd-div {
    align-items: flex-start;
}

.message {
    border-radius: 20px;
    padding: 0px 10px;
    display: inline-block;
}

section.chat {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    line-height: 24px;
}

.clear {
    clear: both
}

.odd {
    background: #303f9f;
    position: relative;
    border-radius: 25px;
    color: #fff;
    margin-left: 40px;
}

.odd:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #303f9f;
    border-bottom-right-radius: 15px;
}

.odd:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: #fff;
    border-bottom-right-radius: 10px;
}

.even {
    background: #e91e63;
    position: relative;
    border-radius: 25px;
    color: #fff;
    margin-right: 40px;
}

.even:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: #e91e63;
    border-bottom-left-radius: 15px;
}

.even :after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
}
