/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.containerX {
    box-sizing: content-box !important;
}

.mat-toolbar h2 {
    color: #fff;
}

.mat-toolbar-tools {
    color: #fff;
}

footer {
    background: #283593;
    color: white;
    height: 60px;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
}

footer P {
    text-align: center;
}

img.heart {
    vertical-align: middle;
}

.messages-area {
    height: 300px;
    background: #fff;
    width: 100%;
}
